.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.blackSreen {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: black;
}

.letter {
  font-size: 3rem;
  color: white;
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 16.66%; /* 6分割 */
  height: 100vh;
  background: black;
  animation: slide-right 1s forwards;
}

@keyframes slide-right {
  to {
    transform: translateX(100vw);
  }
}
