.container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: Lato, 'Noto Sans JP', sans-serif;
}

/* leftsidebar */

.leftsidebar {
  position: absolute;
  left: 5%;
  width: 22%;
  height: 125vh;
  margin-top: 5%;
  background-color: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 10px 40px -10px rgb(0 64 128 / 20%);
}

.targetCount > span:first-child,
.currentCount,
.countLabel {
  font-weight: bold;
  color: #fff;
}

.targetCount {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 10px;
  margin-bottom: 10px;
  background-color: #c1c1c1;
  border-bottom: 1px solid #ddd;
}

.targetCount > div {
  display: flex;
  align-items: flex-end;
}

.currentCount {
  font-size: 36px;
}

.countLabel {
  margin-left: 5px;
  font-size: 12px;
}

.targetCount > span:first-child {
  margin-bottom: 5px;
}

.targetCount > span:nth-child(2) {
  display: flex;
  align-items: flex-end;
  font-size: 24px;
}

.targetCount > span:nth-child(2) > span:last-child {
  margin-left: 5px;
  font-size: 12px;
}

.paletteNumbers,
.paletteColors {
  margin-bottom: 20px;
  font-weight: bold;
}

.option {
  position: relative;
  left: 10%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.option input[type='checkbox'] {
  margin-right: 10px;
}

.colorDisplay {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.subtitle {
  margin-bottom: 10px;
  margin-left: 15px;
  font-weight: bold;
}

.fetchbutton {
  position: absolute;
  right: 10%;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.fetchbutton:hover {
  background-color: #0056b3;
}

/* maincontent */

.mainContent {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 70%;
  margin-top: 5%;
  margin-left: 30%;
  overflow: visible;
}

.paletteItem {
  position: relative;
  display: flex;
  flex-basis: calc(25% - 10px);
  flex-direction: column;
  align-items: center;
  max-width: calc(25% - 10px);
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 10px 40px -10px rgb(0 64 128 / 20%);
}

.paletteItem .colorBox {
  display: flex;
  width: 90%;
  height: 20vh;
  margin-bottom: 10px;
  margin-left: -1px;
}

.paletteItem .colorBox .color {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-top: 1px solid #d4d4d4;
  border-right: 0;
  border-bottom: 1px solid #d4d4d4;
  border-left: 0;
  transition: flex 0.3s;
}

.paletteItem .colorBox .color:last-child {
  border-right: 1px solid #d4d4d4;
  border-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.paletteItem .colorBox .color:first-child {
  border-right: 0;
  border-left: 1px solid #d4d4d4;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.paletteItem .colorBox .color:hover::before {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2px 5px;
  font-weight: bold;
  content: attr(data-color);
  border-radius: 3px;
  transform: translate(-50%, -50%);
}

.paletteItem .info {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.paletteItem .info > div {
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paletteItem .info .likeContainer {
  margin-right: auto;
  font-size: calc(0.7em + 0.3vw);
  white-space: nowrap;
}

.paletteItem .info .timeContainer {
  display: flex;
  align-items: center;
  max-width: 60%;
  margin-left: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paletteItem h3 {
  max-width: 100%;
  margin-top: 10px;
  overflow: hidden;
  font-size: calc(0.8em + 0.4vw);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paletteItem .colorBox .color:hover {
  flex: 4;
  transition: flex 0.1s;
}
